
/* Demo display flex */
.flex {
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    margin-bottom: 60px;

}

.item{
    background-color: aqua;
    margin: 5px;
}

/* Demo flex direction */
.flex_direction {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    margin-bottom: 60px;
    

}
.item_direction{
    background-color: blue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;
    
}

.row li{
    flex-direction: row;
}

.row_reverse{
    flex-direction: row-reverse;
}
.row_reverse li{
    background-color: red;
    
}

.column{
    float: left;
    flex-direction: column;
}

.column li{
    background-color: green;
}

.column_reverse{
    float: right;
    flex-direction: column-reverse;
}

.column_reverse li{
    background-color: pink;
}

.space{
    margin-top: 420px;
}

/* Demo flex wrap */
.flex_wrap {
    flex-direction: column;
    display: flex;
    height: 150px;
    border: 3px solid black;
    max-width: 310px;

}

.item_wrap{
   font-size: 24px;
   height: 50%;
   text-align: center; 
   min-width: 100px;
   line-height: 50px;  
}

.blue {
    background-color: blue;
}

.green{
    background-color: lightgreen;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}

.no_wrap{
    flex-wrap: nowrap;
}

.wrap{
    flex-wrap:wrap;
}

.reverse_wrap{
    flex-wrap: wrap-reverse;
}

/* Demo flex flow */
.flex_flow {
    
    display: flex;
    border: 3px solid black;
    max-width: 500px;
    max-height: 300px;
    margin-bottom: 60px;
    
}

.default {
    flex-flow: row nowrap;
}

.wrap{
    flex-flow: row wrap;

}

.wrap_reverse{
    flex-flow: row wrap-reverse;

}

.wrap_reverse_row{
    flex-flow: row-reverse wrap;
}

.wrap_reverse_row_reverse{
    flex-flow: row-reverse wrap-reverse;
}

.column_reverse_wrap{
    flex-flow: column wrap-reverse;
}

.item_flow{
    background-color: blueviolet;
    margin: 5px; 
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
}

/* Demo justify content */
.flex_justify {
    max-width: 400px;
    border: 2px solid black;
    display: flex;
    margin-bottom: 60px;

}

.flex_start {
    justify-content: flex-start;
}

.flex_end {
    justify-content: flex-end;
}

.flex_center {
    justify-content: center;
}

.space_between {
    justify-content: space-between;
}

.space_around{
    justify-content: space-around;
}

.justify_column{
    flex-direction: column;
    height: 200px;
}

.item_justify{
    background-color: red;
    margin: 5px;
    text-align: center;
    color: white;
}

/* Demo align items */
.flex_align_item {
    max-width: 400px;
    border: 2px solid black;
    display: flex;
    margin-bottom: 60px;

}

.align_item_column{
    flex-direction: column;
}

.item_align_item_center{
    align-items: center;
}

.item_align_item_stretch{
    align-items: stretch;
}

.item_align_flex_start{
    align-items: flex-start;
}


.item_align_flex_end{
    align-items: flex-end;
}

.item_align_baseline{
    align-items: baseline;
}

.central{
    height: 500px;
    justify-content: center;
}

.central .item_align_item{
    flex:0;
    padding: 5px;
    border: 3px solid black;
    height: 400px;
    

}

.item_align_item {
    background-color: blue;
    color: white;
    margin: 5px;
    text-align: center;
    flex: 1;
}

/* Demo align content */
.flex_align_content {
    max-width: 300px;
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

}

.align_content_center{
    align-content: center;
}

.align_content_flex_start{
    align-content: flex-start;
}

.align_content_flex_end{
    align-content: flex-end;
}

.align_content_space_around{
    align-content: space-around;
}

.align_content_space_between{
    align-content: space-between;
}

.item_align_content {
    background-color: orangered;
    flex: 1;
    padding: 0 5px;
    margin: 5px;
    text-align: center;
    color: white;
}
